html, body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #000;
}

/* layout */

header {
    border-bottom: 1px solid #C6C6C6;
    max-width: 100%;
}

.header-items {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

section {
    background-color: #EDEDED;
    margin-bottom: 24px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.contain {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    margin: auto;
}

.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 12px 10px;
    margin: 0;
}

.icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.post-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 12px 10px;
    margin: 4px 10px;
}


/* typography */

.name, 
.likes, 
.username {
    color: #000;
    font-size: 14px;
    font-weight: bolder;
    line-height: normal;
    margin: 0;

}

.location, p {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

strong {
    font-weight: bolder;
}


/* images */

.avatar {
    width: 34px;
    height: 34px;
    margin: 0;
}

.avatars {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 0;
}

.logo {
    width: 110px;
    margin: 0;
}

.icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.icon:hover,
.icon:focus {
    opacity: 0.5;
}

